/* * {
    outline: 1px solid red;
} */
html,body { 
    margin: 0;   /* Remove body margins */
    padding: 1;
}
#parent{
    justify-items: center;
    display: flexbox;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 1s ease;
    background-image: url(images/default.jpg);
}
#current-location{
    background: rgba(230, 230, 250, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
}
#input-section{
    margin-bottom: 10px;
    padding: 5px;
}
#input-field{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    font-size: large; font-weight: bold;
    background-color: thistle;
    color:slateblue;
}
#search-btn{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: large; font-weight: bold;
    background-color: thistle;
    color: slateblue;
}
#current-weather{
    background: rgba(250, 128, 114, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 10px;
    text-align: center;
    width: 240px;
    color: indigo;
    border-radius: 20px;
    margin-bottom: 5px;
}
#hourly-forecast{
    background: rgba(250, 128, 114, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;  /* prevent vertical overflow */
    gap: 10px;
    padding: 10px;
    width: 100%;         /* contained within page width */
    box-sizing: border-box;
    flex-wrap: nowrap;
    color: indigo;
    border-radius: 20px;
    margin-bottom: 5px;
    text-align: center;
}
#daily-forecast{
    background: rgba(250, 128, 114, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 10px;
    text-align: center;
    width: 60%;
    color: indigo;
    border-radius: 20px;
}